// ==========================================
// DESIGN SYSTEM VARIABLES (_variables.scss)
// ==========================================

// Color Variables
$color-prime: #F92E16;
$color-base: rgba(0, 0, 0, 0.4); // #000000 (40% opacity)
$color-prime-text: #EEF3F6;
$color-secondary-text: #737373;
$color-inverse-text: #1A1A1A;
$color-dark-gray: #3B3B3B;
$color-highlighter: rgba(82, 82, 82, 0.16); // #525252 (16% opacity)
$color-button-back-gray: rgba(255, 255, 255, 0.08); // #ffffff (8% opacity)
$button-inactive: 0.5;
$button-active: 1;

// Font Sizes
$font-size-headings: 19px;
$font-size-titles: 15px;
$font-size-base: 14px;
$font-size-s: 12px;
$font-size-m: 16px;
$font-size-l: 20px;
$font-size-xl: 24px;
$font-size-xxl: 28px;

// Sizes & Spacing
$size-unique: 6px;
$size-0: 0px;
$spacing-xs: 4px;
$spacing-s: 8px;
$spacing-m: 12px;
$spacing-l: 16px;
$spacing-xl: 20px;
$spacing-2xl: 24px;
$spacing-3xl: 28px;
$spacing-4xl: 32px;
$spacing-5xl: 36px;
$spacing-6xl: 40px;
$spacing-7xl: 44px;
$spacing-8xl: 48px;
$spacing-9xl: 52px;
$spacing-10xl: 56px;
$spacing-11xl: 60px;
$spacing-12xl: 64px;

// Elements Sizes
$titlebar-height: 64px;
$titlebar-padding-x: 16px;
$search-bar-height: 44px;
$section-border-radium-xl: 32px;
$section-border-radium-l: 28px;
$section-border-radium-m: 24px;
$section-border-radium-s: 20px;
$section-border-radium-xs: 16px;